.page__main-title {
	padding: 124px 0px 136px 0px;
	@media (max-width: 1024px) {
		padding: 80px 0px;
	}
	@media (max-width: 768px) {
		padding: 40px 0px;
	}
}
.main-title {
}
.main-title__container {
}
.main-title__title {
	max-width: 1269px;
}